html, body{
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: Ubuntu, arial, sans-serif;
  word-wrap: break-word;
  word-break: break-word;
  background-color: #fff;
}
#imf-wrapper{
	min-height: 100%;
  margin: 30px 0px;
  
    padding: 10px;
    background-size: 150px 110px;
	background-color: #ffffff;
	text-align: center;
}
#imf-content{
	display: table;
	margin: 0 auto;
  padding: 0 0 60px;
	width: 800px;
  background: #fff;
  color: #000;
}
#preview{
	position: relative;
	display: inline-block;
	height: 550px;
	width: 550px;
	background: #fff;
  margin: 20px 0px;
}
#uploaded_image, #fg{
	width: 100%;
}
#fg{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
#fb-set-pic{
  display: table;
  margin: 20px auto;
}
#download{
  padding: 20px 40px;
  background: #092e7b;
  color: #fff;
  font-size: 1em;
  border-radius: 10px;
  outline: none;
}
#fb-set-pic{
  background-color: #4267b2;
  border-color: #4267b2;
  color: #fff;
  font-size: 1em;
  border-radius: 10px;
  outline: none;
  padding: 10px 20px;
}
#download[disabled], #fb-set-pic[disabled]{
  background: #CCC;
  color: #EEE;
  border: none;
}
.design{
  margin: 10px 2px;
  height: 100px !important;
  border: 5px dashed #CCC !important;
  cursor: pointer;
}
.design.active{
  border: 5px dashed #000 !important;
}
#comments{
  margin: 20px;
}
@media screen and (max-width: 801px){
	#content{
		width: 100%;
		margin: 0;
	}
}

.image_area {
  position: relative;
}



.preview {
    overflow: hidden;
    width: 160px; 
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}

.modal-lg{
    max-width: 1000px !important;
}

.overlay {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  height: 0;
  transition: .5s ease;
  width: 100%;
}